<div class="overflow-x-auto">
    <table class="min-w-full table-auto border-collapse border border-gray-300">
        <thead class="border-b-3">
            <tr>
                <th (click)="sortListByTitle()" class="px-4 py-2 text-left cursor-pointer flex text-[#797B7C] items-center gap-1">
                    <span>Tarefa</span>
                    <span>
                        <img src="assets/icons/sort 1.svg" alt="" />
                    </span>
                </th>
                <th class="px-4 py-2 text-left cursor-pointer ">
                    <div class="flex text-[#797B7C] items-center gap-1">
                        <span>Prior.</span>
                        <span>
                            <img src="assets/icons/sort 1.svg" alt="" />
                        </span>
                    </div>
                </th>
                <th class="px-4 py-2 text-left">
                    <div class="flex text-[#797B7C] items-center gap-1">
                        <span>Status</span>
                        <span>
                            <img src="assets/icons/sort 1.svg" alt="" />
                        </span>
                    </div>
                </th>
                <th class="px-4 py-2 text-left">
                    <div class="flex text-[#797B7C] items-center gap-1">
                        <span>Respons.</span>
                        <span>
                            <img src="assets/icons/sort 1.svg" alt="" />
                        </span>
                    </div>
                </th>
                <th (click)="sortListByDate()" class="px-4 py-2 text-left cursor-pointer">
                    <div class="flex text-[#797B7C] items-center gap-1">
                        <span>Deadline</span>
                        <span>
                            <img src="assets/icons/sort 1.svg" alt="" />
                        </span>
                    </div>
                </th>
                <th class="px-4 py-2 text-center text-[#797B7C] ">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarefa of paginatedTasks" class="border-t">
                <td class="px-4 py-2">{{ tarefa.title }}</td>
                <td class="px-4 py-2 text-white ">
                    <span [ngClass]="{
                            'bg-[#FF1414] text-': tarefa.priority === 'Alta',
                            'bg-[#FFA16C] text-white': tarefa.priority === 'Média',
                            'bg-[#14B9FF] text-white': tarefa.priority === 'Baixa'
                        }" class="rounded-full px-2 py-1 text-sm">
                        {{ tarefa.priority }}
                    </span>
                </td>
                <td class="px-4 py-2">{{ tarefa.finished ? 'Concluído' : 'Em andamento' }}</td>
                <td class="px-4 py-2">{{ tarefa.responsible[0].name }}</td>
                <td class="px-4 py-2">{{ tarefa.deadline | date: 'dd/MM/yyyy' }}</td>
                <td class="px-4 py-2 text-center flex justify-around">
                <td class="px-4 py-2 text-center flex justify-around">
                    <button class="text-red-500">
                        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
                            class="lucide lucide-trash-2">
                            <path d="M3 6h18" />
                            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                            <line x1="10" x2="10" y1="11" y2="17" />
                            <line x1="14" x2="14" y1="11" y2="17" />
                        </svg>
                    </button>
                    <button class="text-gray-500">
                        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
                            class="lucide lucide-eye">
                            <path
                                d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0" />
                            <circle cx="12" cy="12" r="3" />
                        </svg>
                    </button>
                    <button class="text-blue-500" (click)="openTaskModal()">
                        <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
                            class="lucide lucide-file-pen-line">
                            <path
                                d="m18 5-2.414-2.414A2 2 0 0 0 14.172 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2" />
                            <path
                                d="M21.378 12.626a1 1 0 0 0-3.004-3.004l-4.01 4.012a2 2 0 0 0-.506.854l-.837 2.87a.5.5 0 0 0 .62.62l2.87-.837a2 2 0 0 0 .854-.506z" />
                            <path d="M8 18h1" />
                        </svg>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>

    <div class="flex mt-4 justify-center items-center gap-3">
        <button (click)="goToPreviousPage()" [disabled]="currentPage === 1" class="px-4 py-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-chevron-left">
                <path d="m15 18-6-6 6-6" />
            </svg>
        </button>

        <span class="text-gray-600">Página {{ currentPage }} de {{ Math.ceil(taskList.length / itemsPerPage) }}</span>

        <button (click)="goToNextPage()" [disabled]="currentPage === Math.ceil(taskList.length / itemsPerPage)"
            class="px-4 py-2 ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-chevron-right">
                <path d="m9 18 6-6-6-6" />
            </svg>
        </button>
    </div>
</div>