<div (click)="hideDialog()" *ngIf="visible" class="backdrop fixed inset-0 bg-black bg-opacity-50 z-40"></div>
<div *ngIf="visible" class="modal-container fixed top-2 left-[50%] transform -translate-x-1/2 z-50 w-[760px] h-[726px] bg-white rounded-xl p-4">
    <div class="relative w-full h-full flex items-center justify-center gap-y-3.5 flex-col">
        <h2 class="text-2xl font-bold">Criar tarefa</h2>

        <button class="absolute right-4 top-2" pButton (click)="hideDialog()" label="Fechar">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x">
                <circle cx="12" cy="12" r="10" />
                <path d="m15 9-6 6" />
                <path d="m9 9 6 6" />
            </svg>
        </button>

        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="w-[540px] flex flex-col items-start gap-y-4">

            <div class="w-full">
                <label class="block text-sm font-medium text-gray-700" for="titulo">Título da Tarefa</label>
                <input autocomplete="off" type="text" id="titulo" formControlName="title" class="mt-1 w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600" placeholder="Título da tarefa" />
            </div>

            <div class="w-full">
                <label class="block text-sm font-medium text-gray-700" for="detalhes">Detalhes da Tarefa</label>
                <textarea id="detalhes" formControlName="detail" class="mt-1 w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600" rows="3" placeholder="Detalhes da tarefa"></textarea>
            </div>

            <div class="w-full flex justify-between gap-x-2">
                <div class="w-full">
                    <label class="block text-sm font-medium text-gray-700" for="deadline">Deadline</label>
                    <input type="date" id="deadline" formControlName="deadline" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600" />
                </div>
                <div class="w-full">
                    <label class="block text-sm font-medium text-gray-700" for="prioridade">Prioridade</label>
                    <select id="prioridade" formControlName="priority" class="mt-1 w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600">
                        <option value="Baixa">Baixa</option>
                        <option value="Média">Média</option>
                        <option value="Alta">Alta</option>
                    </select>
                </div>
            </div>

            <!-- Responsáveis -->
            <div class="w-full">
                <label class="block text-sm font-medium text-gray-700" for="responsaveis">Responsáveis</label>
                <div class="relative">
                    <input autocomplete="off" type="text" id="responsaveis" formControlName="responsible" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600" placeholder="Buscar responsáveis" />
                    <span class="absolute inset-y-0 right-3 flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search">
                            <circle cx="11" cy="11" r="8" />
                            <line x1="21" x2="16.65" y1="21" y2="16.65" />
                        </svg>
                    </span>

                    <!-- Lista de usuários filtrados -->
                    <ul *ngIf="filteredUsers.length > 0" class="absolute z-10 bg-white border w-full mt-1">
                        <li *ngFor="let user of filteredUsers" 
                            (click)="selectUser(user)" 
                            class="p-2 hover:bg-gray-100 cursor-pointer">
                            {{ user.name }}
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Anexar Arquivo -->
            <div class="w-full flex flex-col items-center justify-center p-6 border border-dashed border-gray-300 rounded-lg mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-upload">
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                    <polyline points="17 8 12 3 7 8" />
                    <line x1="12" x2="12" y1="3" y2="15" />
                </svg>
                <span class="mt-2 block text-sm font-medium text-gray-700">Anexar arquivo</span>
                <span class="text-xs text-gray-500">A better way to tell which species are vulnerable</span>
            </div>

            <!-- Botões de ação -->
            <div class="flex gap-1 mt-4 w-full items-center justify-center">
                <button class="bg-[#B880EF33] text-[#263238] rounded-[10px] w-[112px] h-[56px] font-bold" type="button" (click)="hideDialog()">Cancelar</button>
                <button class="w-[172px] h-[56px] flex items-center justify-evenly bg-[#6261B4] text-white capitalize font-bold rounded-[10px]" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-square-plus">
                        <rect width="18" height="18" x="3" y="3" rx="2" />
                        <path d="M8 12h8" />
                        <path d="M12 8v8" />
                    </svg>
                    Criar Tarefa
                </button>
            </div>
        </form>
    </div>
</div>
